<center><form action="/names" method="post">
  <h2>Please insert Your Name:</h2>
  <input type="text" name="player_1">
  <h2>Please insert Your Enemy Name:</h2>
  <input type="text" name="player_2"><br><br>
  <input type="submit" value="Start the War!">
</form></center>
