<form action="/names" method="post">
  <h2>Please insert Your Name:</h2>
  <input type="text" name="your_name">
  <h2>Please insert Your Enemy Name:</h2>
  <input type="text" name="enemy_name">
  <h2>Please insert Your Enemy Hit Points:</h2>
  <input type="text" name="enemy_hit_points">
  <input type="submit" value="Submit">
</form>
