<center><form action="/names" method="post">
  <h2>Please insert Your Name:</h2>
  <input type="text" name="your_name">
  <h2>Please insert Your Enemy Name:</h2>
  <input type="text" name="enemy_name"><br><br>
  <input type="submit" value="Start the War!">
</form></center>
