<center><h1> <%=@player_1%>: 100 HP</h1></center>
<center><form action="/attack"><input type="submit" value="Destroy!"></form></center>
<center><h1>VS</h1></center>
<center><h1> <%=@player_2%>: 100 HP</h1></center>
